<!--letakkan kode ads di bawah baris ini-->
<div id='fixedban' style='width:100%;margin:auto;text-align:center;float:none;overflow:hidden;display:scroll;position:fixed;bottom:0;z-index:999;-webkit-transform:translateZ(0);'>
<div>
<a id='close-fixedban' onclick='document.getElementById("fixedban").style.display = "none";' style='cursor:pointer;'><img alt='close' src='https://yess-online.com/close.png' title='close button' style='vertical-align:middle;'/></a></div>
<div style='text-align:center;display:block;max-width:728px;height:auto;overflow:hidden;margin:auto'>
<script type='text/javascript' src='//pl16021525.highrevenuecpm.com/ed/a0/e3/eda0e3e734b552b73f18d5719702b447.js'></script>