<header>
<script type='text/javascript' src='//pl16021525.highrevenuecpm.com/ed/a0/e3/eda0e3e734b552b73f18d5719702b447.js'></script>
    <div class="jumbotron jumbotron-fluid bg-hitam text-light top-header">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="m-0 p-0"><a href="/">{{ .Site.Params.toptitle }}</a></h1>
                    <p class="lead m-0 p-0">{{ .Site.Params.topdescription }}</p>
                </div>
            </div>
        </div>
    </div>
</header>